<%- include('../layouts/adminHeader.ejs') %>
    <div class="ex-form-1 pt-2 mt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <h2 style="color: white; text-align: center;">Edit Product</h2>
                        <div>
                            <% if(typeof messages!=='undefined' ){ %>
                                <h4>
                                    <p style="color: rgb(11, 139, 47);">
                                        <%= messages%>
                                    </p>
                                </h4>
                                <% } %>
                                    <% if(typeof message!=='undefined' ){ %>
                                        <h4>
                                            <p style="color: rgb(255, 0, 0);">
                                                <%= message%>
                                            </p>
                                        </h4>
                                        <% } %>
                        </div>
                        <!-- Sign Up Form -->
                        <form action="/admin/edit-product/<%=product._id%>" encType="multipart/form-data" method="post">
                            <div class="mb-4 form-floating">
                                <input type="text" name="name" class="form-control" value="<%=product.name%>" required>
                                <!-- <label for="floatingInput">Name</label> -->
                            </div>
                            <div class="mb-4 form-floating">
                                <select name="category" class="mb-4 form-control" id="floatingInput2"
                                    placeholder="<%=product.category%>" required>
                                    <option value="" disabled selected><%=product.category%></option>
                                    <% if(category.length>0){ %>
                                        <% for(let i=0;i<category.length;i++){ %>
                                            <option value="<%= category[i].names %>">
                                                <%=category[i].names %>
                                            </option>
                                            <%} }else{%>
                                                <h4>No Categories found</h4>
                                                <%}%>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" name="price" class="form-control" id="floatingPassword" required
                                    value="<%=product.price%>">
                                <!-- <label for="floatingPassword">Price</label> -->
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" name="stock" class="form-control" id="floatingPassword" required
                                value="<%=product.stock%>">
                                <!-- <label for="floatingPassword">Price</label> -->
                            </div>
                            <div class="mb-4 form-floating">
                                <textarea name="description" class="form-control" id="floatingInput2" required
                                value="<%=product.description%>" style="height:7rem;"></textarea>
                                <!-- <label for="floatingInput">Product Description</label> -->
                            </div>
                            <div class="mb-4 form-floating">
                                <label for="floatingInput">Image</label>
                                <input type="file" name="uploaded_file"  class="form-control" id="formFileMultiple" accept="image/png, image/jpg, image/jpeg, image/webp" multiple required >
                            </div>
                            <!-- <label for="submit" id="success"></label> -->
                            <button type="submit" class="btn btn-warning btn-round">Submit</button>
                            <a href="/admin/home" class="btn btn-light btn-round px-5">Go Back</a>
                        </form>
                        <!-- end of sign up form -->
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <%- include('../layouts/adminFooter.ejs') %>